$google-font: Poppins;

$primary: #45aaf2;
$secondary: #5865f2;
$font-family-base: $google-font, sans-serif;

@import url("https://fonts.googleapis.com/css2?family=#{$google-font}:wght@200;300;400;500;600;700;800;900");
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  height: 100%;
}

body {
  @extend .text-light;
  @extend .bg-dark;
}

.main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    font-family: $font-family-base !important;
  }
}

.messages {
  margin-top: 70px;

  p {
    margin: 0;
  }

  img {
    border-radius: 50%;
  }
}
