.main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main * {
  font-family: revert !important;
}

.messages {
  margin-top: 56px;
}

.messages p {
  margin: 0;
}